/* front in HTML */
body * {
    font-family: 'Open Sans', sans-serif;
  }
h1{font-family: 'Fredericka the Great', cursive;}  

.p_2col {
    text-align: justify;
    columns: 2;
    line-height: 20px;
 }
/* Text Alignment in HTML */

.page {
    width: 850px;
    background-color: lightgray;
    margin: auto;
    margin: 30px auto;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    border: 1px solid lightgray;
    border-radius: 20px;
  }

.chart-size {
    width: 100%; /*meet the size of container*/
  }
  
.right_text{
    padding-left: 20px;
}

.left_note{
    font-size:  smaller;
    color: gray;
    width: 50%;
    float: left;
    }

.centert{
    text-align: center;
}
.hcenter {
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;  
}
/* Background in HTML */

.bg-h1 {
    background-color: white;
    color: black;
	height: 100px;      /*Set the height of the block*/
    display: flex;       /*Convert .bg-h1 into a flex container*/
    align-items: center; /* Vertically center the content inside the block */
    justify-content: center; /* Horizontally center the content (if you also want to center it horizontally) */
	margin: 0;          /*delete space*/
    padding: 0;
}

.chart-text {
    color: black;  /* Text color, adjust based on your design */
    font-size: 18px;  /* Font size */
    margin-top: 10px;  /* Space between the chart and the text */
}

.bg-para {
    background-color: #B0C6CF;
}
body {
    background-color: #B0C6CF;
    padding-left: 300px;  /* Space on the left side of the text */
    padding-right: 300px;  /* Space on the right side of the text */
    margin: 0;          /*delete space*/
    border: 1px solid black;
}

.pure-g {
    padding: 20px;
    margin-bottom: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
  }

/* Text color in HTML */
.color1 {
    color: #2590c8;
}

.color2 {
    color: #d13141;
}